#############
#  Aliases  #
#############

# List declared aliases, functions, paths
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

# Has package
alias has="curl -sL https://git.io/_has | bash -s"

# Update
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup;'

# Set ls color
alias ls="ls --color=auto"

# Nvim
alias vi="nvim"
alias vim="nvim"

# Edit configs
alias zrc="vi $ZDOTDIR/.zshrc"
alias znv="vi $HOME/.zshenv"
alias vrc="vi ~/.vimrc"
alias nrc="vi ~/.config/nvim/init.lua"
alias wrc="vi ~/.config/wezterm/wezterm.lua"

# TODO
alias gg='git grep -E'
alias zpui="zplug update && zplug install"

# SSH
alias rotatekeys="source $HOME/ssh-key-manager.sh && rotate_keys"
alias displaykeys="source $HOME/ssh-key-manager.sh && display_public_keys"

# Arduino
alias ard="arduino-cli"
alias ardc="arduino-cloud-cli"

#############
# Functions #
#############

# Time ZSH start
ztime() {
  for i in $(seq 1 10); do /usr/bin/time /bin/zsh -i -c exit; done
}

# Visualize the 16 ANSI colors
16colors() {
  for i in {0..15}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done
}

# Visualize the 256 ANSI colors
256colors() {
  for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done
}

# Generate ssh key with name and comment
sshkeygen() {
  ssh-keygen -t ed25519 -f ~/.ssh/"$1" -C "$2"
}

# Install dotfiles
dotinstall() {
  bash <(wget -qO- https://raw.githubusercontent.com/Randallsm83/dotfiles/refs/heads/main/install.sh)
}

# Quick move up directories
up() { cd "$(printf "%0.s../" $(seq 1 $1))" || return; }
